main {
    text-align: center;
    .counterBody {
        border: 1px solid black;
        width: 25%;
        height: 50vh;
        background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 2%, rgba(50,50,126,1) 64%);
        padding-top: 20px;
        margin: 10vh auto;
        h1 {
            color: white;
        }
        p {
            color: white;
            font-size: 2rem;
        }
        .buttons {
            display: flex;
            justify-content: center;
            gap: 10px;
            flex-wrap: wrap;
            width: 250px;
            margin: 0 auto;
            button {
                width: 100px;
                padding: 10px;
            }
            button:active {
                background-color: grey;
            }
        }
    }
}

